<br />




<div id="<%= dom_id student %>">
  <p>
  <br /> <strong>Name:</strong> 
    <%= student.name %>
 
    <br /><strong>Idnumber:</strong> 
    <%= student.IDnumber %>

    <br /> <strong>Email:</strong> 
    <%= student.email %>

    <br /><strong>Phone:</strong> 
    <%= student.phone %>

    <br /><strong>Address:</strong> 
    <%= student.address %> 

  </p>

</div>
